.nav-img img {
    height: 50px;
    width: auto;
}

.container img{
    height: 50px;
    width: auto;
}

.container p{
    font-family: Silkscreen;
    font-size: 20px;
}

.container ul a{
    font-family: Silkscreen;
}


body{
    font-family: Silkscreen;
}

#container{
    text-align: center;
    font-family: Silkscreen;
}

#container > hr{
    width: 80%;
    margin: 0 auto;
    border-color: #2a7582;
    border-width: 2px;
}

#title{
    color: #2a7582;
    letter-spacing: 2px;
}

#board{
    width: 450px;
    height: 450px;
    background-color: #fbfbf0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #FFD0D0;
}

.box{
    width: 147px;
    height: 147px;

    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-line{
    border-bottom: 3px solid #ff9eaa;
}

.vertical-line{
    border-right: 3px solid #ff9eaa;
}

.winner{
    background-color: #d4d4b3;
    color: #3AA6B9;
}

.player-img {
    width: 120px;
    height: 120px;
}


#aciklama{
   
    align-items: center;
  
 
    border-style: solid;
    border-radius: 1%;
    border-color: #2a7582;
    padding: 10px;
    text-align: center;
    font-weight: bold;
   }

.aciklama{
    font-size: 20px;
    color: #2a7582;
}

h1 > img{
    height: 80px;
    width: auto;
}

#cards > h1{
    color: #ff2e70;
    text-decoration:underline;
}

#cards{
    text-align: center;
    font-family: Silkscreen;
}

#cards > hr {
    width: 80%;
    margin: 0 auto;
    border-width: 2px;
    border-color: #ff2e70;
    border-style:solid;
}

.card-title{
    text-decoration: underline;
}

.columns{
    display: flex;
    gap: 1em;
}

.card{
    flex: 1;
}

#link > img{
    height: 200px;
    width: 280px;
    border: solid 2px #10383f;
}

p{
    text-align: center;
    font-size: 30px;
    color: #2a7582;
    font-weight: bold;
}

.card > p{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}